# Vivado temporary and log files
*.log
*.jou
*.str
*.backup
.Xil/
vivado*.str
vivado*.ini
py/

# Synthesis and Implementation outputs
*.jou
*.log
*.pb
*.dcp
*.rpt
*.xml
*.html
*.msg
*.bits
*.bin
*.ltx

# SDK / Vitis specific files
*.vck
*.cache
*.hw
*.ip_user_files
*.runs
*.sim
*.gen
.nfs*

# Lab reports
.pdf

project/
